<div>
    <div class="container">
        <h2>Data Structure and Algorithm Visualizations</h2>
        <div class="card" style="width:400px">
          <img class="card-img-top" src="../../assets/images/algorithms.png" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Sorting Algorithms</h4>
            <p class="card-text">Learn how sorting algorithms really work with detailed visualizations</p>
          </div>
        </div>
        <br>
</div>